<div class="container">
  <h2>Nivel <%= canDo.level %>, <%= canDo.name %></h2>
  <div id="choice-nivel" class="hide"><%= canDo.level %></div>
  <div id="choice-lesson" class="hide"><%= canDo.id %></div>
  <div id="question-index" class="hide"><%= i_question %></div>
  <div id="state" class="hide"><%= in_state %></div>
  <div id="exercise-name"><%= exercise.name %></div>
  <div id="description"><%= exercise.description %></div>
  <% if (in_state != 'preparation') { %>
    <br>
    <div id="question-container" class="<%= showQuestion %>">
      <div id="question"><%= question.question %></div>
      <div id="answer-buttons" class="btn-grid">
        <button class="btn btn-primary" data-correct="<%= question.answers[0].correct %>"><%= question.answers[0].text %></button>
        <button class="btn btn-primary" data-correct="<%= question.answers[1].correct %>"><%= question.answers[1].text %></button>
        <button class="btn btn-primary" data-correct="<%= question.answers[2].correct %>"><%= question.answers[2].text %></button>
        <button class="btn btn-primary" data-correct="<%= question.answers[3].correct %>"><%= question.answers[3].text %></button>
      </div>
    </div>
  <% } %>
  <br>
  <div class="controls">
    <a href="/lessons/<%= canDo.level %>/<%= canDo.name %>/<%= exercise.id %>/<%= i_question %>" id="start-btn" class="btn btn-primary">Começar exercício</a>
    <a href="/lessons/<%= canDo.level %>/<%= canDo.name %>" id="skip-btn" class="btn btn-primary btn-l-margin">Pular exercício</a>
    <a href="/lessons/<%= canDo.level %>/<%= canDo.name %>/<%= exercise.id %>/<%= i_question + 1 %>" id="next-btn" class="btn btn-primary btn-l-margin hide">Próxima questão</a>
  </div>
</div>